body {
    background-color: #F0F0F0;
}


.navBgColor {
    background-color: #2d404b;
}


@media only screen and (min-width: 920px) {
    .navInput {
        width: 410px;
    }

    .navItems {
        margin-left: 0px;
    }
}

@media only screen and (max-width: 920px) {
    .navInput {
        width: 100%;
    }

    .navItems {
        margin-right: -20px;
        padding-top: 10px;
    }

    #ticketNumInput {
        width: 75px;
    }
}