{% extends 'base.html' %}

{% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link type="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/eventCreation.css">
{% endblock %}
{% import "bootstrap/form.html" as wtf %}
{% block content %}
    <div class="container-fluid eventForm">
        <div class="p-4"></div>
        <h1>Event Details:</h1>
        <hr>
        <div class="p-2"></div>
        <form method="post" enctype="multipart/form-data" action>
            {{ form.csrf_token }}
            
            <div class="form-group row">
                <div class="col-lg-9">
                    <h4>Event name:</h4>
                    {{ form.event_name(class_="form-control", placeholder="Event Name") }}
                </div>
                
                <div class="col-lg-3">
                    <h4>Status:</h4>
                    {{ form.Status_id(class_="form-control") }}
                </div>
            </div>
            

            <div class="p-1"></div>
            <div class="form-group row">
                <div class="col-xl-6 col-lg-12">
                    <h4>Location:</h4>
                    {{ form.location(class_="form-control", placeholder="Location") }}
                </div>

                <div class="p-1 lineBreaks"></div>
                <div class="col-xl-3 col-lg-6 col-sm-12">
                    <h4>City:</h4>
                    {{ form.city(class_="form-control", placeholder="City") }}
                </div>

                <div class="p-1 lineBreaks"></div>
                <div class="col-xl-3 col-lg-6 col-sm-12">
                    <h4>Sport:</h4>
                    {{ form.Catergory_id(class_="form-control") }}
                </div>
                
            </div>

            <div class="p-1"></div>
            <div class="form-group row">
                <div class="col-lg-6 col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <h4>Start:</h4>
                            {{ form.start_time(class_="form-control") }}
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <h4>End:</h4>
                            {{ form.end_time(class_="form-control") }}
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="p-1 lineBreaks"></div>
                    <h4>Number of tickets:</h4>
                    {{ form.max_tickets(class_="form-control", placeholder="Number of tickets", value=1) }}
                </div>
                <div class="col-lg-3">
                    <div class="p-1 lineBreaks"></div>
                    <h4>Ticket price:</h4>
                    {{ form.ticket_price(class_="form-control", placeholder="Ticket Price") }}
                </div>
            </div>

            <div class="p-1"></div>

            <div class="p-4"></div>
            <div class="col-12">
                <h4>Description:</h4>
                {{ form.description(class_="form-control", rows=5) }}
                <br>
                <h4>Choose an image:</h4>
                {{ form.image(class_="form-control-file") }}
            </div>
            <br>
            {{ form.submit(class_="btn btn-primary btn-md") }}
        </form>
    </div>
{% endblock %}