{% extends "base.html" %}

{% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/userBookingHistory.css">
    <script src="../static/js/IndexResponsive.js"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid" id="mainArea">
        <div class="p-3"></div>
        <h1>Booking history: </h1>
        <hr>
        <div class="p-2"></div>

        <div class="container-fluid" id="mainArea">
            {% for booking in bookings %}
                <a href="{{url_for('event.show', id=booking.Event_id)}}" class="EventLink">
                    <div class="booking row p-2">
                        <div class="col-sm-7 col-xs-12">
                            <h4>{{booking.event}} - {{booking.Status}}</h4>
                            <p>Booked By: {{booking.user.FirstName}} {{booking.user.LastName}}</p>
                            <p>Order ID: {{booking.BookingId}} Tickets purchases: {{booking.TicketNum}}</p>
                            <p>Booked on: {{booking.BookedOn}}</p>
                            <p>Click to view event information</p>
                        </div>
                        <div class="p-3" id="imgSpacer"></div>
                        <div class="col-sm-5 col-xs-12">
                            <img src="{{booking.event.Image}}" class="bookingImage">
                        </div>
                    </div>
                </a>
            <div class="p-4"></div>
            {% endfor %} 
            <div class="p-5"></div>
        </div>
    </div>
{% endblock %}